#search-container{
    display: grid;
    background-color: #2c3e50;
    grid-template-columns: repeat(1, 1fr);
    padding-right: 15px;
    padding-left: 15px;
}

#results-container{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
}

.result{
    display: grid;
    height: 100px;
    background-color: #16a085;
    text-align: center;
    align-content: center;
    border-radius: 4px;
}

/* .main-items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.nav-item{
    display: grid;
    align-content: center;
    color: #ecf0f1;
    height: 100%;
}

.logo-container{
    display: grid;
    justify-content: end;
} */